.rdw-editor-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    outline: rgba(91, 91, 91, 0.5) 2px solid;
    margin-bottom: 5vh;
}

.rdw-editor-main {
    border-top: rgba(91, 91, 91, 0.5) 2px solid;
    aspect-ratio: 210 / 297; /* Соотношение сторон листа а4 */
    font-size: 16px;
}

.DraftEditor-root {
    height: initial;
}

.context-values-selector {
    width: 14rem;
    margin: 0 0 6px 10px;
    z-index: 2;
}
