.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    place-items: center;
    z-index: 1000;
}

.popup {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 15vh;
    padding: 1vw;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5vw;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 1.5vw;
}

.header img:hover {
    cursor: pointer;
    filter: invert(37%) sepia(0%) saturate(3%) hue-rotate(43deg) brightness(90%) contrast(86%);
}

.warning {
    font-size: 1.15vw;
    font-weight: bold;
}

.message {
    font-size: 0.9vw;
}


