#create-test-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#test-constructor-submit-button {
    margin: 50px 0 100px 0;
}

#test-theme-input {
    border-style: none none solid none;
    padding: 10px 0;
    font-size: 1.5rem;
    margin: 30px 0 80px 0;
}

#test-name-input, .question .question-name-input,
.question .question-right-answer-input, .answer-option-input {
    border-style: none none solid none;
    padding: 10px 0;
    font-size: 1.5rem;
    margin: 30px 0;
}

#test-name-input, #test-theme-input {
    width: 40%;
}

.answer-option-input {
    width: 90%;
}

.question .question-name-input {
    width: 60%;
}

#test-name-input::placeholder, #test-theme-input::placeholder, .question .question-name-input::placeholder,
.question .question-right-answer-input::placeholder, .answer-option-input::placeholder {
    font-size: 1.5rem;
    font-weight: bold;
}

#test-name-input:focus, #test-theme-input:focus, .question .question-name-input:focus,
.question .question-right-answer-input:focus, .answer-option-input:focus {
    outline: none;
}

.questions-container {
    display: block;
    width: 40%;
}

.question {
    display: grid;
    align-content: center;
    margin-top: 30px;
    width: 100%;
}

.question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.question-type-select {
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
}

.question-right-answer-input-container {
    display: flex;
    position: relative;
    width: 100%;
}

.question-right-answer-input-container input {
    width: 100% !important;
    border-color: #00FF3C;
}

.question-right-answer-input-container label {
    position: absolute;
    top: 37px;
    left: 60%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    white-space: nowrap;
    color: #757575;
    transition: opacity 0.2s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.question-right-answer-input-container label:hover {
    cursor: text;
}

.question-answers {
    display: flex;
    flex-direction: column;
}

.answer-option-container {
    display: flex;
    align-items: center;
    width: 105%;
    margin-left: 10%;
}

.correct-option-tooltip {
    width: 15%;
    transition: opacity 0.2s ease-in-out;
}

.correct-option-tooltip button {
    background: none;
    border: none;
    width: 100%;
}

.correct-option-tooltip button:hover {
    cursor: pointer;
}

.correct-option-tooltip button img {
    width: 100%;
    filter: invert(69%) sepia(99%) saturate(2147%) hue-rotate(81deg) brightness(106%) contrast(118%);
}

.answer-options-controls {
    display: flex;
    width: 90%;
    justify-self: flex-end;
}

.edit-clear-container {
    display: flex;
    justify-content: center;
}

.edit-clear-button {
    background: none;
    border: none;
    width: 3.5%;
    margin-top: 30px;
}

.edit-clear-button img {
    width: 100%;
    filter: invert(46%) sepia(0%) saturate(0%) hue-rotate(185deg) brightness(99%) contrast(83%);
}

.edit-clear-button:hover {
    cursor: pointer;
}

.edit-clear-button img:hover {
    filter: invert(37%) sepia(0%) saturate(3%) hue-rotate(43deg) brightness(90%) contrast(86%);
}

.image-input, .template-input {
    display: none;
}

.image-input-label {
    justify-self: center;
    color: #5b5b5b;
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 1rem;
    text-decoration: none;
}

.image-input-label:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.image-preview {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

.image-in-test {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
    max-width: 40%;
}

#edit-diploma-content {
    display: none;
}

.tab-buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.tab-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    padding: 15px;
}

.tab-button.active {
    border: 5px #f81ce5;
    border-style: none none solid none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 1.25rem;
}

.tab-button:hover {
    cursor: pointer;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

#insert-button {
    margin-left: 15px;
}

.attachment-name {
    font-size: 2rem;
}

.delete-attachment-button {
    width: 0.9em;
    height: 0.9em;
    align-self: center;
    margin-left: 0.3em;
}

.delete-attachment-button:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.add-answer-option-tooltip, .delete-answer-option-tooltip {
    width: 10%;
    margin-left: 10%;
}

.add-answer-option-tooltip button, .delete-answer-option-tooltip button {
    width: 100%;
}

.image-upload-tooltip {
    width: 7.5%;
}

.image-upload-tooltip button {
    border: none;
    background: none;
    width: 100%;
    margin-top: 3px;
}

.image-upload-tooltip button:hover {
    cursor: pointer;
}

.image-upload-tooltip button img {
    width: 100%;
}

.questions-separator {
    border: none;
    border-top: 2px dashed #aaa;
    margin: 30px 25% 30px -25%;
    width: 150%;
}
