<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Диплом</title>

    <style>
        .result {
            text-align: center;
        }

        .result h1 {
            margin-bottom: 50px;
        }

        .result h2 {
            margin: 30px 0 30px 0;
        }

        .result p {
            font-size: 5rem;
            color: #f81ce5;
        }

    </style>
</head>
<body>
<div class="result">
    <h1>Результаты теста</h1>
    <p>{{ percentage }}%</p>
    <h2>{{ correct_answers_text }}, {{ incorrect_answers_text }}</h2>
</div>
</body>
</html>
